<h2>My Stocks</h2>
<ul>
  <li *ngFor="let stock of stocks">
    <app-stock-item [stock]="stock"></app-stock-item>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Current Price</th>
      <th scope="col">Bought Price</th>
      <th scope="col">Bought Date</th>
      <th scope="col">Return</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
